# Workflow used for daily updates of the .li zone file
name: update-zone

# Controls when the workflow will run
on:
  schedule:
    - cron: '45 0 * * *'

jobs:
  update-zone:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # make sure dig is installed
      - name: Install package dnsutils
        run: sudo apt-get install dnsutils
  
      # do the zone transfer
      - name: Zone transfer
        run: dig -y hmac-sha512:tsig-zonedata-li-public-21-01:t8GgeCn+fhPaj+cRy1epox2Vj4hZ45ax6v3rQCkkfIQNg5fsxuU23QM5mzz+BxJ4kgF/jiQyBDBvL+XWPE6oCQ== @zonedata.switch.ch +noall +answer +noidnout +onesoa AXFR li. > li.txt

      # extract domains
      - name: Extract domains
        run: grep -P "IN\sNS" li.txt | awk '{print $1}' | sort | uniq > li_uniq.txt
              
      # commit back to repo
      - name: Commit new domains
        run: |
          git config --global user.name 'bl00dy1837'
          git config --global user.email 'reg-github@klein.tuxli.ch'
          git add li_uniq.txt
          git commit -m $(head -1 li.txt | awk '{print $7}')
          git push
      

